@charset "utf-8";
.pageBtn{
    text-align: center;
    margin-top: 26px;
}
.bigTitle{
    font-size: 38px;
    color: #333333;
    text-align: center;
    margin-top: 33px;
}
.subheading{
    font-size: 30px;
    text-align: center;
    margin: 18px 0 26px;
}
.newsCenter li{
    margin-bottom: 30px;
}
.loadmore{
    border: 2px solid #cccccc;
    width: 103px;
    height: 30px;
    background: #ffffff;
}