.N_title{
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 20px;
    h1{
       color: #d6000f;
    }
    p{
        height: 35px;
        line-height: 35px;
        border-bottom: 1px  dotted #cccccc;
    }
}
.N_nav{
    width: 1000px;
    margin: 0 auto;
    img{
        display: block;
        width: 100%;
    }
}
.N_main p{
   margin-top: 20px;
}