.mg1 img{
    width: 500px;
    height: 252px;;
}
.mg1_l{
    padding-top: 40px;
}
.mg1_r{
    padding-top: 40px;
    p{
        padding: 90px 0px 0px 33px;
    }
}
.Parts_main{
    height: 2340px;
}
.mg2 img{
    width: 1000px;
    height: 512px;
}
.mg3{
    padding-top: 0px;
    img{
        width: 407px;
        height: 251px;
    }
}
.mg3_l{
    width: 500px;
    height: 251px;
    p{
        margin-top:125px; 
    }
}
.mg4 img{
    width: 1000px;
    height: 512px;
    padding-top:42px; 
    padding-bottom: 40px;
}
.mg5{
    margin-top: 0px;
    img{
        width: 500px;
        height: 368px;
    }
    p{
        margin-top:102px;  
    }
}