@charset "utf-8";
@import 'var.scss';
$zero:0px;
$n:none;
$b:block;
$color:#d6000f;


.top{
    margin:0 auto;
}
.title{
    h3,p,span,b{
        font-style: normal;
        font-size:17px;
    }
    p{
        line-height:53px;
        height:53px;
    }
}
.detail{
    margin-top:40px;
    margin-left: 60px;
}
.title-bottom{
    margin-top:40px;
    .bottom{
        margin-top:17px;
        margin-left:-50px;
    }
}
.noPadding{
    padding:0;
}

.bottomImg{
    width:100%;
    height:100%;
}