.RidingChoice_main h2{
    font-size: 38px;
    color: #666666;
    margin: 0;
}
.RidingChoice_main p{
    color: #666666;
    margin: 0;
}
.RidingChoice_main img{
    display: block;
    width: 100%;
}
.RidingChoice_main{
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: -40px;
    background: url(../../img/RidingChoice/bg.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%; 
    
}
.RC_title{
    height: 120px;
    margin: 0;
    line-height: 120px;
    font-size: 40px;
}
.m1{
    height: 366px;
    h2{
        line-height: 223px;
    }
    img{
        height: 366px;
    }
}
.RidingChoice_main .pull-left{
    width: 475px;
}
.RidingChoice_main .pull-right{
    width: 475px;
}
.m2{
    height: 366px;
    h2{
        line-height: 223px;
    }
    img{
        height: 366px;
    }
}
.m3{
    height: 366px;
    h2{
        line-height: 223px;
    }
    img{
        height: 366px;
    }
}
.m4{
    height: 280px;
    h2{
        line-height: 180px;
    }
    img{
        height: 280px;
    }
}
.m5{
    height: 366px;
    h2{
        line-height: 223px;
    }
    img{
        height: 366px;
    }
}
.m6{
    height: 280px;
    h2{
        line-height: 180px;
    }
    img{
        height: 280px;
    }
}
.m7{
    height: 400px;
    h2{
        line-height: 233px;
    }
    img{
        height: 400px;
    }
}
.m8{
    height: 348px;
    h2{
        line-height: 205px;
    }
    img{
        height: 348px;
    }
}
.HS_b{
    margin-bottom: 40px;

}