.bingo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #75d251;
    color: #ffffff; 
    display: inline-block;
    margin-right: 40px;
    box-shadow:  2px 2px 4px #888888;
}
.ShopSuccess_main{
    height: 630px;
}
.ShopSuccess_main p{
    padding-top: 255px;
    font-size: 24px;
    height: 44px;
    line-height: 44px;
}
.success{
    display: block;
    margin-top: 70px;
    margin-left: 400px;
    height: 50px;
    width: 160px;
    background: #d6000f;
    border-radius: 5px;
    color: #ffffff;
    font-size: 29px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}